<div class="abc">
  <div class="bar bar-header bar-clear" style= "height:40px;" >
    <a  href="#home"><button class="button button-icon icon ion-ios-arrow-back">Back</button></a>
    <div class="title" style="font-size: 25px;font-family: Times New Roman, Times, serif;"></div>
  </div>

 <ion-content class="has-header" style=" border :none;background-color: white">

   <div class="center">

     <div>
       <img id = "img" src="DownloadFile.png">
       <p class="head">File.pdf</p>
       <button class="button button-balanced" style="width:40%">Download</button>
     </div>

   </div>

<!--
   <div style="margin-top:15px;border:solid; border-color:lightgreen;"></div>
-->

                                 <!--FORUM-->
<div style="margin-top:15px;margin-bottom:10px;border:solid; border-width: 2px; border-color:darkslategrey"></div>
   <div class="list">
     <h4 style="margin-left: 10px;">Comment</h4>
     <div class="item item-input-inset">
       <img src="user.png" style="width: 35px; height: 35px;">
       <label class="item-input-wrapper">
         <input type="text" placeholder="Write a comment...">
       </label>

     </div>


   </div>

 </ion-content>


</div>



